body{
    background: #dbfbff;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
}
#first_section{
    background: rgb(246, 246, 246);
    width: 20%;
    border-radius: 5px;
    border: 2px solid black;
    position: relative;
    margin: 5px;
}
#title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    margin: 2px;
}
#subtitle{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 2px;
    margin-bottom: 2px;
}
#main{
    display: flex;
    flex-direction: column;
}
.topbar{
    display: flex;
    flex-direction: row;
    background-color: hsl(215, 32%, 54%);
    align-items:center;
    position: sticky;
}
#LISU{
    margin-left: auto;
    height: 100%;
}
.login{
    width: 100px;
    margin: 10px;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    color:black;
    cursor: pointer;
    padding: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
#assignments{
    justify-self: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    border-radius: 5px;
    padding: 2px;
    margin-left: 10px;
}
@keyframes spinning {
    from {rotate: 0deg}
    to {rotate: 360deg}
}

#second{
    height: 750px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#tospin{
    animation-name: spinning;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}