body{
    background: #dbfbff;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
}
#first_section{
    background: rgb(246, 246, 246);
    width: 20%;
    border-radius: 5px;
    border: 2px solid black;
    position: relative;
    margin: 5px;
}
#title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    margin: 2px;
}
#subtitle{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 2px;
    margin-bottom: 2px;
}
#main{
    display: flex;
    flex-direction: column;
}
.topbar{
    display: flex;
    flex-direction: row;
    background-color: hsl(146, 11%, 28%);
    align-items:center;
}
#LISU{
    margin-left: 20px;
    height: 100%;
}
.login{
    width: 100px;
    height: 90%;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
#assignments{
    justify-self: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    border-radius: 5px;
    padding: 2px;
}
.nav{
    margin-left: auto;
}