body{
    background: #dbfbff;
    min-height: 100%;
    padding: 5px;
}
#first_section{
    background: rgb(246, 246, 246);
    width: 20%;
    border-radius: 5px;
    border: 2px solid black;
    position: relative;
}
#title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    margin: 2px;
}
#subtitle{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 2px;
    margin-bottom: 2px;
}
#main{
    display: flex;
    flex-direction: column;
}
.topbar{
    display: flex;
    flex-direction: row;
}
#LISI{
    margin-left: auto;
}
.login{
    height: 100%;
    width: 100px;
    border-radius: 0px;
}